.messagebutton{ 
  margin-top: 5px;
}

.open_button{
 margin-top:16px;
 margin-left: 3px;
 
}
.message_requestes{
  width: 20 cm;
}
.remove_button{
 height: 0.5cm;
}
.remove_icon{
 margin-bottom: 40px;
}